body{
    background-color: #eee;
    .container-cars{
        display: flex;
        gap: 10px;
        .CarOne{
            width: 420px;
            height: auto;
            /* border: 1px solid red; */
            background-color: darkgray;
            padding: 10px;        
            
            p{
                text-align: center;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-weight: 500;
                margin: 5px 0 10px 0;
            }
            img{
                display: flex;
                justify-self: center;
                width: 350px;
                height: 200px;
                border-radius: 1rem;
                
            }
        }
    }
}