html{
    *{
        box-sizing:border-box;
        // height: 100;
        padding:0;
        margin:0;
        }
}
body{
    overflow-y: hidden;
     a{
        text-decoration: none;
     }
    header{
        width: 100%;
        height: 18vh;
       
        .section-header{    
            display: flex;
            height: 35px;
            background-color: aqua;
            justify-content: flex-end;
            .header-icons{
                display: inherit;
                width: 200px;
                justify-content: space-between;
                margin-right: 20px;
                place-items: center;
                padding: 5px 0 0;
            }
        }
        nav{
            height: 55px;
            display: flex;
            background-color: papayawhip;
            .section-nav{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 0 30px 0 0;
                align-items: center;
                .logo{

                    .logo-negro{
                        width: 250px;
                        height: 100%;
                    }
                }

                .sobre{
                    a{
                        color: black;
                        font-weight: bold;
                        font-family: 'Times New Roman', Times, serif;
                        text-decoration: underline;
                    }
                }

            }
        }
    }
    main{
        .container{
            display: block;
            position: relative;
            .cover-img{
                display: inline-block;
                position:static;
                width: 100%;
                height: 82vh;
                object-fit: cover;
                max-width: 100%;
                max-height: 100% ;             
            }
            h1{
                width: 60%;
                position: absolute;
                color: rgb(255, 255, 255);
                left: 20%;
                top: 20%;
                text-align: center;
                font-family: "Roboto",sans-serif;   
            }
            button{
                display: block;
                background-color:aqua;
                border: none;
                position: absolute;
                top: 200px;
                left:calc(50% - 32px);
                width: 70px;
                padding: 5px;
                a{
                    
                    color: black;
                }
            }
        }
    }
}