.container{
    display: grid;
    grid-template-columns: repeat(5,200px);
    grid-template-rows: repeat(3,200px);
    background-color: aquamarine;
    border: 1px solid black;
    gap: 1rem;
}
.item{
    display: flex;
    animation: cambioColor 6s infinite alternate ease-in-out;
}

@keyframes cambioColor {
    0%{
        background-color: red;
    }
    25%{
        background-color: blue;
    }
    50%{
        background-color: yellow;
    }
    75%{
        background-color: orange;
    }
    100%{
        background-color: green;
    }

}
.uno{
    animation-delay: 0s;
}
.dos{
    animation-delay:  0.5s;
}
.tres{
    animation-delay: 1s;
}
.cuatro{
    animation-delay: 1.5s;
}
.cinco{
    animation-delay: 2s;
}
.seis{
    animation-delay: 2.5s;
}
.siete{
    animation-delay: 3s;
}
.ocho{
    animation-delay: 3.5s;
}
.nueve{
    animation-delay: 4s;
}
.diez{
    animation-delay: 4.5s;
}
.once{
    animation-delay: 5s;
}
.doce{
    animation-delay: 5.5s;
}


/* .uno{
    background-color:red ;
}
.dos{
    background-color:blue ;
}
.tres{
    background-color:red ;
}
.cuatro{
    background-color:blue ;
}
.cinco{
    background-color:red ;
}
.seis{
    background-color:blue ;
}
.siete{
    background-color:red ;
}
.ocho{
    background-color:blue ;
}
.nueve{
    background-color:red ;
}
.diez{
    background-color:blue ;
}
.once{
    background-color:red ;
}
.doce{
    background-color:blue ;
} */

.container-two{
    background-color: blueviolet;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 200px;
    gap: 1px;
}
.two{
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid black;
}

.container-two .one{
    display: grid;
    justify-items: start;
}